//colors---------------------

$primary: #43882B;
$primary-light: #97D158;
$primary-extra-light: #DEFEE6;

$secondary: #32594A;
$secondary-light: #5BA890;

$tertiary: #CCFCCB;
$tertiary-light: #6ECCAF;

// $tertiary-light: #DEFEE6;
$contrast: #ff936f;
$white: #fff;

//colors---------------------