@import "../abstract/variables";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: primaryFont;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media (min-width: 1800px) {
  html {
    font-size: 70%;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 45%;
  }
}

body{
  overflow-x: hidden;
  position: relative;
  font-family: primaryFont;
  background-color: $primary-extra-light;
}