@font-face {
    font-family: primaryFont;
    src: url(../../assets/fonts/Nunito-VariableFont_wght.ttf);
}


@font-face {
    font-family: displayFont;
    src: url(../../assets/fonts/AdigianaExtreme.ttf);
}