{% extends 'front/frontBase.html.twig' %} 

{% block frontContent %}
{% block nav %}
{% endblock  %}

<div class="front-content-container">
  <div class="panier-header">
    Cart
    <img src="./contents/img/cart2.gif" class="panier-gif-cart" alt="" />
  </div>
  <div class="panier-content">
    <div class="panier-content__leftSide">
      <div class="panier-content__leftSide-title">item(s)</div>
      <div class="panier-content__leftSide-command-one">
        <div class="panier-content__leftSide-command__content">
          <div class="panier-content__leftSide-command-img-container">
            <img
              src="./contents/img/sac-isotherme-ecologique.jpg"
              class="panier-content__leftSide-command-img"
              alt=""
            />
          </div>
          <div class="panier-content__leftSide-command-details">
            <div class="panier-content__leftSide-command-details-name">
              sac isotherme ecologique
            </div>
            <div class="panier-content__leftSide-command-details-price">
              <div class="panier-content__leftSide-command-details-price-pts">
                300pts
              </div>
              <div class="panier-content__leftSide-command-details-price-money">
                <div>$120</div>
              </div>
            </div>
            <div class="panier-content__leftSide-command__btns">
              <div class="panier-content__leftSide-command__btns-delete">
                <i class="bx bx-trash"></i>
                <p>Delete</p>
              </div>
              <div class="panier-content__leftSide-command__btns-update">
                <div
                  class="panier-content__leftSide-command__btns-update-mp moins-border"
                >
                  <i class="bx bx-minus"></i>
                </div>
                <div class="panier-content__leftSide-command__btns-number">
                  2
                </div>
                <div
                  class="panier-content__leftSide-command__btns-update-mp plus-border"
                >
                  <i class="bx bx-plus"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--end command one-->
      <div class="panier-content__leftSide-command-one">
        <div class="panier-content__leftSide-command__content">
          <div class="panier-content__leftSide-command-img-container">
            <img
              src="./contents/img/sac-isotherme-ecologique.jpg"
              class="panier-content__leftSide-command-img"
              alt=""
            />
          </div>
          <div class="panier-content__leftSide-command-details">
            <div class="panier-content__leftSide-command-details-name">
              sac isotherme ecologique
            </div>
            <div class="panier-content__leftSide-command-details-price">
              <div class="panier-content__leftSide-command-details-price-pts">
                300pts
              </div>
              <div class="panier-content__leftSide-command-details-price-money">
                <div>$120</div>
              </div>
            </div>
            <div class="panier-content__leftSide-command__btns">
              <div class="panier-content__leftSide-command__btns-delete">
                <i class="bx bx-trash"></i>
                <p>Delete</p>
              </div>
              <div class="panier-content__leftSide-command__btns-update">
                <div
                  class="panier-content__leftSide-command__btns-update-mp moins-border"
                >
                  <i class="bx bx-minus"></i>
                </div>
                <div class="panier-content__leftSide-command__btns-number">
                  2
                </div>
                <div
                  class="panier-content__leftSide-command__btns-update-mp plus-border"
                >
                  <i class="bx bx-plus"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--end command one 2-->
      <div class="panier-content__leftSide-command-one">
        <div class="panier-content__leftSide-command__content">
          <div class="panier-content__leftSide-command-img-container">
            <img
              src="./contents/img/sac-isotherme-ecologique.jpg"
              class="panier-content__leftSide-command-img"
              alt=""
            />
          </div>
          <div class="panier-content__leftSide-command-details">
            <div class="panier-content__leftSide-command-details-name">
              sac isotherme ecologique
            </div>
            <div class="panier-content__leftSide-command-details-price">
              <div class="panier-content__leftSide-command-details-price-pts">
                300pts
              </div>
              <div class="panier-content__leftSide-command-details-price-money">
                <div>$120</div>
              </div>
            </div>
            <div class="panier-content__leftSide-command__btns">
              <div class="panier-content__leftSide-command__btns-delete">
                <i class="bx bx-trash"></i>
                <p>Delete</p>
              </div>
              <div class="panier-content__leftSide-command__btns-update">
                <div
                  class="panier-content__leftSide-command__btns-update-mp moins-border"
                >
                  <i class="bx bx-minus"></i>
                </div>
                <div class="panier-content__leftSide-command__btns-number">
                  2
                </div>
                <div
                  class="panier-content__leftSide-command__btns-update-mp plus-border"
                >
                  <i class="bx bx-plus"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--end command one 3-->

      <div class="panier-content__leftSide-command-one">
        <div class="panier-content__leftSide-command__content">
          <div class="panier-content__leftSide-command-img-container">
            <img
              src="./contents/img/sac-isotherme-ecologique.jpg"
              class="panier-content__leftSide-command-img"
              alt=""
            />
          </div>
          <div class="panier-content__leftSide-command-details">
            <div class="panier-content__leftSide-command-details-name">
              sac isotherme ecologique
            </div>
            <div class="panier-content__leftSide-command-details-price">
              <div class="panier-content__leftSide-command-details-price-pts">
                300pts
              </div>
              <div class="panier-content__leftSide-command-details-price-money">
                <div>$120</div>
              </div>
            </div>
            <div class="panier-content__leftSide-command__btns">
              <div class="panier-content__leftSide-command__btns-delete">
                <i class="bx bx-trash"></i>
                <p>Delete</p>
              </div>
              <div class="panier-content__leftSide-command__btns-update">
                <div
                  class="panier-content__leftSide-command__btns-update-mp moins-border"
                >
                  <i class="bx bx-minus"></i>
                </div>
                <div class="panier-content__leftSide-command__btns-number">
                  2
                </div>
                <div
                  class="panier-content__leftSide-command__btns-update-mp plus-border"
                >
                  <i class="bx bx-plus"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--end command one 4-->

      <div class="panier-content__leftSide-command-one">
        <div class="panier-content__leftSide-command__content">
          <div class="panier-content__leftSide-command-img-container">
            <img
              src="./contents/img/sac-isotherme-ecologique.jpg"
              class="panier-content__leftSide-command-img"
              alt=""
            />
          </div>
          <div class="panier-content__leftSide-command-details">
            <div class="panier-content__leftSide-command-details-name">
              sac isotherme ecologique
            </div>
            <div class="panier-content__leftSide-command-details-price">
              <div class="panier-content__leftSide-command-details-price-pts">
                300pts
              </div>
              <div class="panier-content__leftSide-command-details-price-money">
                <div>$120</div>
              </div>
            </div>
            <div class="panier-content__leftSide-command__btns">
              <div class="panier-content__leftSide-command__btns-delete">
                <i class="bx bx-trash"></i>
                <p>Delete</p>
              </div>
              <div class="panier-content__leftSide-command__btns-update">
                <div
                  class="panier-content__leftSide-command__btns-update-mp moins-border"
                >
                  <i class="bx bx-minus"></i>
                </div>
                <div class="panier-content__leftSide-command__btns-number">
                  2
                </div>
                <div
                  class="panier-content__leftSide-command__btns-update-mp plus-border"
                >
                  <i class="bx bx-plus"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--end command one 5-->

      <div class="panier-content__leftSide-command-one">
        <div class="panier-content__leftSide-command__content">
          <div class="panier-content__leftSide-command-img-container">
            <img
              src="./contents/img/sac-isotherme-ecologique.jpg"
              class="panier-content__leftSide-command-img"
              alt=""
            />
          </div>
          <div class="panier-content__leftSide-command-details">
            <div class="panier-content__leftSide-command-details-name">
              sac isotherme ecologique
            </div>
            <div class="panier-content__leftSide-command-details-price">
              <div class="panier-content__leftSide-command-details-price-pts">
                300pts
              </div>
              <div class="panier-content__leftSide-command-details-price-money">
                <div>$120</div>
              </div>
            </div>
            <div class="panier-content__leftSide-command__btns">
              <div class="panier-content__leftSide-command__btns-delete">
                <i class="bx bx-trash"></i>
                <p>Delete</p>
              </div>
              <div class="panier-content__leftSide-command__btns-update">
                <div
                  class="panier-content__leftSide-command__btns-update-mp moins-border"
                >
                  <i class="bx bx-minus"></i>
                </div>
                <div class="panier-content__leftSide-command__btns-number">
                  2
                </div>
                <div
                  class="panier-content__leftSide-command__btns-update-mp plus-border"
                >
                  <i class="bx bx-plus"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--end command one 6-->

      <div class="panier-content__leftSide-command-one">
        <div class="panier-content__leftSide-command__content">
          <div class="panier-content__leftSide-command-img-container">
            <img
              src="./contents/img/sac-isotherme-ecologique.jpg"
              class="panier-content__leftSide-command-img"
              alt=""
            />
          </div>
          <div class="panier-content__leftSide-command-details">
            <div class="panier-content__leftSide-command-details-name">
              sac isotherme ecologique
            </div>
            <div class="panier-content__leftSide-command-details-price">
              <div class="panier-content__leftSide-command-details-price-pts">
                300pts
              </div>
              <div class="panier-content__leftSide-command-details-price-money">
                <div>$120</div>
              </div>
            </div>
            <div class="panier-content__leftSide-command__btns">
              <div class="panier-content__leftSide-command__btns-delete">
                <i class="bx bx-trash"></i>
                <p>Delete</p>
              </div>
              <div class="panier-content__leftSide-command__btns-update">
                <div
                  class="panier-content__leftSide-command__btns-update-mp moins-border"
                >
                  <i class="bx bx-minus"></i>
                </div>
                <div class="panier-content__leftSide-command__btns-number">
                  2
                </div>
                <div
                  class="panier-content__leftSide-command__btns-update-mp plus-border"
                >
                  <i class="bx bx-plus"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--end command one 7-->

      <div class="panier-content__leftSide-command-one">
        <div class="panier-content__leftSide-command__content">
          <div class="panier-content__leftSide-command-img-container">
            <img
              src="./contents/img/sac-isotherme-ecologique.jpg"
              class="panier-content__leftSide-command-img"
              alt=""
            />
          </div>
          <div class="panier-content__leftSide-command-details">
            <div class="panier-content__leftSide-command-details-name">
              sac isotherme ecologique
            </div>
            <div class="panier-content__leftSide-command-details-price">
              <div class="panier-content__leftSide-command-details-price-pts">
                300pts
              </div>
              <div class="panier-content__leftSide-command-details-price-money">
                <div>$120</div>
              </div>
            </div>
            <div class="panier-content__leftSide-command__btns">
              <div class="panier-content__leftSide-command__btns-delete">
                <i class="bx bx-trash"></i>
                <p>Delete</p>
              </div>
              <div class="panier-content__leftSide-command__btns-update">
                <div
                  class="panier-content__leftSide-command__btns-update-mp moins-border"
                >
                  <i class="bx bx-minus"></i>
                </div>
                <div class="panier-content__leftSide-command__btns-number">
                  2
                </div>
                <div
                  class="panier-content__leftSide-command__btns-update-mp plus-border"
                >
                  <i class="bx bx-plus"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--end command one 8-->
    </div>
    <!--end panier content left side-->
    <div class="panier-content__RightSide">
      <div class="panier-content__RightSide-title">Order Summary</div>
      <hr class="hr-border hr-border-3" />
      <div class="panier-content__RightSide-total">
        <div>Total</div>
        <div>$240 / 500pts</div>
      </div>
      <div class="panier-content__RightSide-Checkout">
        <button>Checkout</button>
      </div>
      <hr class="hr-border hr-border-3" />

      <div class="promo-code__groupe">
        <label for="" class="promo-code__groupe-title">Promo code</label>
        <i class="bx bxs-discount"></i>
        <input
          type="number"
          name="promo"
          class="promo-code__groupe-input"
          placeholder="Enter your promo code"
        />
      </div>
    </div>
  </div>
</div>

{% endblock %}
