.flash{
    position: absolute;
    z-index: 5000;
    top: 10rem;
    left: 2rem;
    padding: 2rem 2rem;
    border-radius: 3rem;
    font-size: 1.5rem;
    color: $primary-extra-light;
    font-weight: 700;

    &__error{
        background-color: #e2404e;
    }

    &__success{
        background-color: $primary-light;
    }

}